# ===== Build artifacts =====
*.o
*.a
*.so
*.out
*.exe

# ===== Binaries / executables =====
a.out
*.exe
*.bin
*.elf
*.out
gc_project
bin/
build/

# ===== Debug / profiling =====
vgcore.*
core
core.*

# ===== Editor / IDE =====
.vscode/

# ===== OS junk =====
.DS_Store
Thumbs.db

# ===== Temporary files =====
*~
*.swp
*.swo

# ===== Tests =====
tests/
test_suite/
